*__pycache__
.vscode/
cache.json
./packages/backend/config/config.yaml
./packages/backend/config/db
./packages/backend/config/logs
lazygit*
./packages/frontend/node_modules/
package.json
package-lock.json
./packages/frontend/eslint.config.mjs
docker_commands.txt
docker-compose.yml
docker-compose.yaml
.gitignore
