*__pycache__
.vscode/
cache.json
config/db
config/logs
packages/backend/config/config.yaml
packages/backend/config/db
packages/backend/config/logs
packages/backend/config/rclone
packages/backend/config/rclone_sa.json
lazygit*
packages/frontend/node_modules/
package.json
package-lock.json
eslint.config.mjs
docker_commands.txt
docker-compose.yml
config/original_posters/
.DS_Store